<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2015: Thomson Reuters. All Rights Reserved.
 Proprietary and Confidential information of Thomson Reuters. Disclosure, Use or
 Reproduction without the written authorization of Thomson Reuters is prohibited.
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <logger name="com.boole" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="WARN"/>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="WARN" />
    <logger name="org.hibernate.type.BasicTypeRegistry " level="FATAL"/>
    <logger name="org.eclipse.jetty" level="ERROR"/>

    <logger name="ch.qos.logback.classic.joran" level="ERROR"/>

    <!--<root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>-->
</configuration>