<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      ng-app="booleApp">
<head>
    <base href="/boole"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Boole Movie application Manager</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet"/>

    <link th:href="@{/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"
          rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css"/>

    <link th:href="@{/bower_components/bootstrap-material-design/dist/css/roboto.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/bower_components/bootstrap-material-design/dist/css/material.css}"
          rel="stylesheet"/>
    <link th:href="@{/bower_components/bootstrap-material-design/dist/css/ripples.css}"
          rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body>
<div id="wrapper">

    <div th:include="layouts/partials/navbar :: navbar_fragment"
         th:remove="tag"></div>
    <!-- Page Content -->
    <div class="container">
        <div ui-view=""></div>
    </div>


</div>
<!-- include scripts fragment -->
<div th:include="layouts/partials/scripts :: scripts"
     th:remove="tag"></div>
</body>
</html>