<!--
<div>
    <h4>Default</h4>
    <uib-pagination total-items="totalItems"
                    ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    <uib-pagination
            boundary-links="true"
            total-items="totalItems"
            ng-model="currentPage"
            class="pagination-sm"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"></uib-pagination>
    <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems"
                    ng-model="currentPage"></uib-pagination>
    <uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage"
                    num-pages="smallnumPages"></uib-pagination>
    <pre>The selected page no: {{currentPage}}</pre>
    <button type="button" class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>

    <hr/>
    <h4>Pager</h4>
    <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>

    <hr/>
    <h4>Limit the maximum visible buttons</h4>
    <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true"></uib-pagination>
    <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    num-pages="numPages"></uib-pagination>
    <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
</div>-->
<div class="row">
    <h3 class="text-center">Discover Movies</h3>
</div>
<div class="row">
    <form>
        <div class="col-md-2">
            <div class="form-group">
                <label for="movieReleaseYear">Released Year</label>
                <input type="text" class="form-control" id="movieReleaseYear" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="movieGenre">Genre</label>
                <input type="text" class="form-control" id="movieGenre" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="sortBy">Sort By</label>
                <input type="text" class="form-control" id="sortBy" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="movieKeyword">Keywords</label>
                <input type="text" class="form-control" id="movieKeyword" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
</div>
<div class="row discover_results">
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a small well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="well">
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
                Look, I'm in a large well!
            </div>
        </div>
    </div>
</div>