<div class="row">
    <h3 class="text-center">Discover Movies</h3>
</div>
<div class="row">
    <form>
        <div class="col-md-2">
            <div class="form-group">
                <label for="movieReleaseYear">Released Year</label>
                <input type="text" class="form-control" id="movieReleaseYear"
                       placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="movieGenre">Genre</label>
                <input type="text" class="form-control" id="movieGenre" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="sortBy">Sort By</label>
                <input type="text" class="form-control" id="sortBy"
                       placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="movieKeyword">Keywords</label>
                <input type="text" class="form-control" id="movieKeyword"
                       placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
</div>
<div class="row discover_results movie-list-results">

    <div class="movie-list-card" ng-repeat="movie in movies">
        <h4 class="movie-item-name">The Hunger Games: Mockingjay - Part 2 (2015)</h4>

        <p class="cert runtime-genre">
            <time itemprop="duration" datetime="PT103M">103 min</time>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <span itemprop="genre">Documentary</span>
            <span class="ghost">|</span>
            <span itemprop="genre">Biography</span>
            <span class="ghost">|</span>
            <span itemprop="genre">Music</span>
        </p>
        <div class="rating-text">
            <span class="stars"></span>
            <span>Metascore: 46/(100) (23 reviews)</span>
        </div>
        <div class="outline-text">
            As the war of Panem escalates to the destruction of other districts by the Capitol, Katniss
            Everdeen, the reluctant leader of the rebellion, must bring together an army against
            President Snow, while all she holds dear hangs in the balance.
        </div>
        <div class="crew-txt-block">
            <h5 class="inline">Director: </h5>
                    <span class="item_prop">
                        <a href="/name/nm1349376/?ref_=inth_ov_nm" itemprop="url">Francis
                            Lawrence</a>
                    </span>
        </div>
        <div class="crew-txt-block">
            <h5 class="inline">Cast: </h5>
                    <span class="item_prop">
                        <a href="/name/nm1349376/?ref_=inth_ov_nm" itemprop="url">Jennifer
                            Lawrence,</a>
                    </span>
                    <span class="item_prop">
                        <a href="/name/nm1349376/?ref_=inth_ov_nm" itemprop="url">Josh
                            Hutcherson, </a>
                    </span>
                    <span class="item_prop">
                        <a href="/name/nm1349376/?ref_=inth_ov_nm" itemprop="url">Liam
                            Hemsworth, </a>
                    </span>
                    <span class="item_prop">
                        <a href="/name/nm1349376/?ref_=inth_ov_nm" itemprop="url">Woody
                            Harrelson, </a>
                    </span>
                    <span class="item_prop">
                        <a href="/name/nm1349376/?ref_=inth_ov_nm" itemprop="url">Elizabeth
                            Banks</a>
                    </span>
        </div>
    </div>
</div>
<div class="row movie-results-pagination">
    <div class="container">
        <div class="col-sm-9 pager-left">
            <p class="text-left">Currently on page: {{selectedPage}} of {{totalPages}} <span
                    class="total_results grey">({{totalItems}} results)</span></p>
        </div>
        <div class="col-sm-3">
            <ul class="pager">
                <li ng-class="{disabled: noPrevious()||ngDisabled}">
                    <a class="withripple" ng-click="previousPage()">&laquo; Previous
                        <div class="ripple-wrapper"></div>
                    </a>
                </li>
                <li ng-class="{disabled: noNext()||ngDisabled}">
                    <a class="withripple" ng-click="nextPage()">Next &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>