<div class="container movie-detail-card">
    <div class="col-md-3">
        <div class="movie_facts">
            <h4>
                <span>
                Movie Facts
                </span>
            </h4>

            <p ng-if="movie.year">
                <strong>Status:</strong>
                Released
            </p>

            <p ng-if="movie.releaseDate">
                <strong>Released:</strong>
                {{movie.releaseDate}}
            </p>

            <p ng-if="movie.language">
                <strong>Original Language: </strong>
                {{movie.language}}
            </p>

            <p ng-if="movie.runtime">
                <strong>Runtime:</strong>
                {{movie.runtime}} mins
            </p>

            <p ng-if="movie.country">
                <strong>Country: </strong>
                {{movie.country}}
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row movie-detail-title">
            <h4>{{movie.name}} </h4>
            <span ng-if="movie.year">
                ({{movie.year}})
            </span>
        </div>
        <div class="row movie-detail-rating">
            <h5>
                <span class="movie-rating" ng-if="movie.reviews">Rating</span>
                <span ng-if="movie.reviews"> {{movie.reviews}} </span>
                <span ng-if="movie.votes">(227 votes)</span>
            </h5>
        </div>
        <div class="row movie-detail-genres" ng-if="movie.genres">
            <span ng-bind-html="movie.genres | genreLinkify"></span>
        </div>
        <div ng-if="movie.synopsis" class="movie-detail-synopsis">
            <span>
                {{movie.synopsis}}
            </span>
        </div>
        <div class="row movie-detail-crew">
            <h5 class="movie-detail-crew-header"
                ng-if="movie.directors || movie.producers || movie.writers">
                Crew
            </h5>

            <div class="movie-detail-director" ng-if="movie.directors">
                <div class="col-sm-4">Director(s)</div>
                <div class="col-sm-8">
                    <span ng-bind-html="movie.directors | personLinkify"></span>
                </div>
            </div>
            <div class="movie-detail-producer" ng-if="movie.producers">
                <div class="col-sm-4">Producer(s)</div>
                <div class="col-sm-8">
                    <span ng-bind-html="movie.producers | personLinkify"></span>
                </div>
            </div>
            <div class="movie-detail-writer" ng-if="movie.writers">
                <div class="col-sm-4">Writer(s)</div>
                <div class="col-sm-8">
                    <span ng-bind-html="movie.writers | personLinkify"></span>
                </div>
            </div>
        </div>
        <div class="row movie-detail-crew">
            <h5 class="movie-detail-crew-header" ng-if="movie.actors">
                Cast
            </h5>

            <div class="movie-detail-director">
                <div class="col-sm-4" ng-repeat="cast in movie.actors">
                    <a ui-sref="personDetails({ personId: cast.id })"
                       ng-attr-title="{{cast.name}}" ng-attr-alt="{{cast.name}}">
                        {{cast.name}}
                    </a>
                </div>
            </div>
        </div>
        <div class="row movie-detail-reviews">
            <h5 class="movie-detail-reviews-header">
                Reviews
            </h5>

            <div class="movie-reviews_body">
                <p>There are no reviews for this movie</p>
            </div>
        </div>
    </div>
</div>