<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="css-links">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet"/>

    <link th:href="@{/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"
          rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css"/>

    <link th:href="@{/bower_components/bootstrap-material-design/dist/css/roboto.min.css}"
          rel="stylesheet" />
    <link th:href="@{/bower_components/bootstrap-material-design/dist/css/material.css}"
          rel="stylesheet"/>
    <link th:href="@{/bower_components/bootstrap-material-design/dist/css/ripples.css}"
          rel="stylesheet"/>
</th:block>