<div xmlns:th="http://www.thymeleaf.org" th:fragment="scripts">
    <!-- jQuery -->
    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

    <script th:src="@{/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>
    <script th:src="@{/bower_components/angular/angular.js}"></script>
    <script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
    <script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
   <script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>

    <script th:src="@{/bower_components/underscore/underscore.js}"></script>
    <script th:src="@{/bower_components/angular-datatables/dist/angular-datatables.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap-material-design/dist/js/ripples.js}"></script>
    <script th:src="@{/bower_components/bootstrap-material-design/dist/js/material.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        $(function () {
            $.material.init()
        });
    </script>

    <!-- Application scripts -->
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/app.filters.js}"></script>
    <script th:src="@{/js/app/home/home.controller.js}"></script>
    <script th:src="@{/js/app/home/discover.controller.js}"></script>
    <script th:src="@{/js/app/movies/movie.details.controller.js}"></script>
    <script th:src="@{/js/app/movies/movie.service.js}"></script>
    <script th:src="@{/js/app/movies/genres.linkify.directive.js}"></script>

</div>